header {
    height: 10vh;

}

main {
    height: 80vh;

}

footer {
    height: 10vh;

}

.heading1 {
    background-color: blueviolet;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-radius: 5px;
    padding: 10px;
    color: white;


}

.heading1 span {

    font-style: italic;
    text-transform: capitalize;
    color: wheat;
    margin: auto;

}

.heading2 {
    background-color: blueviolet;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}